extends _partial/layout
block site_title
    != page.title + " . " + config.title
block description
    - var desc = page.desc || strip_html(page.content).replace(/^\s*/,'').substring(0,150);
    meta(name="description",content=desc)

block content
    .blogcontent
        .pagecontent.fadeIn
            include mixins
            +make_post(page,true)
            .pagination
                span#busuanzi_container_page_pv
                    | 本文总阅读量
                    span#busuanzi_value_page_pv
                    | 次
                ul.clearfix
                    if page.prev
                        li.pre.pagbuttons
                            a.btn(role="navigation", href=url_for(page.prev.path),title=page.prev.title)!= __('prev_post')
                    if page.next
                        li.next.pagbuttons
                            a.btn(role="navigation", href=url_for(page.next.path),title=page.next.title)!= __('next_post')
            div(id="lv-container", data-id="city", data-uid="MTAyMC80MDMyMC8xNjg0Nw==")
                script(src=url_for("js/libere.js"))
        .rightpane.fadeIn
            include _partial/pageSidebar

